*.o
*~
*.lo
*.la
calfmakerdf
calfjackhost
calfbenchmark
calfdssigui
Makefile
Makefile.in
*.pyc
configure
config.*
src/.deps
src/.libs
install-sh
ltmain.sh
libtool
depcomp
missing
calf-*.tar.gz
aclocal.m4
stamp-h1
calf.desktop
autom4te.cache
bigbull/build
bigbull/ttl.cpp
bigbull/ttl.h
