*.o
*~
*.lo
*.la
calfmakerdf
calfjackhost
calfbenchmark
calfdssigui
Makefile
Makefile.in
*.pyc
configure
config.*
src/.deps
src/.deps/*
src/.libs
src/.libs/*
src/calf_gtk
gui/calf.rc
install-sh
ltmain.sh
libtool
depcomp
missing
calf-*.tar.gz
aclocal.m4
stamp-h1
calf.desktop
autom4te.cache
bigbull/build
bigbull/ttl.cpp
bigbull/ttl.h
doc/html/*
dist/*
.cproject
.project
compile
