body {
    background: #222;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 0.8em;
}
a {
    color: #0af;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #0af;
    text-decoration: underline;
}
img {
    border: none;
}
h1 {
/*    color: #D5F16A;*/
    color: white;
    font-weight: normal;
/*    background: url(../images/style_p.png) transparent;*/
    text-align: center;
    margin: 20px;
/*    border-bottom: 1px dotted #fff;*/
    text-shadow: 0px -1px black;
}
h2 {
/*    color: #D5F16A;*/
    color: white;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0px -1px black;
    padding: 5px 0 10px 0;
}
h3 {
/*    border-bottom: 1px dotted #fff;*/
}
p, ul {
    background: #333;
    margin: 0 0 15px;
    padding: 10px;
/*    border: 2px groove white;*/
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow:    0 3px 10px #111;
    -webkit-box-shadow: 0 3px 10px #111;
    box-shadow:         0 3px 10px #111;
}
ul {
}
li {
    padding: 0;
    margin: 20;
}
strong {
    color: #D5F16A;
/*    color: black;*/
}

.wrapper {
    clear: both;
    width: 800px;
    margin: auto;
    text-align: left;
}
.thumbnail {
    width: 320px;
    float: right;
    margin: 10px;
/*    border: 2px solid black;*/
/*    border-top: 12px solid black;*/
    -moz-box-shadow:    0 3px 10px #000000;
    -webkit-box-shadow: 0 3px 10px #000000;
    box-shadow:         0 3px 10px #000000;

}

.headerbg {
    background: #111;
    border-bottom: 1px solid #111;
    -moz-box-shadow:    0 3px 10px #111;
    -webkit-box-shadow: 0 3px 10px #111;
    box-shadow:         0 3px 10px #111;
}
.header {
    width: 800px;
    margin: auto;
    text-align: left;
    font-size: 9px;
    position: relative;
}
.header img {
    margin: 8px;
    position: absolute;
    left: 0px;
    bottom: 10px;
}
.header .menu {
    float: left;
    text-transform:uppercase;
}
.header .menu h3 {
    margin: 5px;
    font-weight: normal;
    font-size: 13px;
    border-bottom: 1px dotted #fff;
}
.header .menu ul {
    margin: 3px;
    padding: 5px;
    background: none;
    color: #0af;
    border: none;
}
.header .menu ul li {
    margin: 0 10px;
    padding: 2px;
}
.header .menu ul li:hover {
    background:black;
}
.header .menu a {
    font-weight: normal;
}
.header img {
    width: 80px;
}
.header .menu img {
    display: none;
    margin: 0;
}

.index {
    
}
.index h3 {
    color: white;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0px -1px black;
    padding: 5px 0 10px 0;
}
.index a {
    display: block;
    text-align: center;
    font-weight: normal;
    position: absolute;
    top: 120px;
    width: 150px;
}
.index img {
    position: absolute;
    bottom: 35px !important;
    top: auto;
    left: 5px;
    text-align: center;
/*    border: 1px solid black;*/
/*    border-top: 5px solid black;*/
    -moz-box-shadow:    0 3px 10px #000000;
    -webkit-box-shadow: 0 3px 10px #000000;
    box-shadow:         0 3px 10px #000000;
}
.index img {
    width: 130px;
}
.index ul {
    color: #0af;
    border: none;
}
.index li {
    position: relative;
    display: block;
    width: 140px;
    height: 140px;
    margin: 8px;
    float: left;
    text-align: center;
}
.index li:hover {

}

.inactive {
    color: #999 !important;
}

.developers li {
    clear: left;
}
.portrait {
    width: 100px;
    float: left;
    margin: 10px;
}
